<app-navbar-admin></app-navbar-admin>

<div class="container mt-4">

<div class="text-end mt-4" dir="rtl">
  <a mat-raised-button color="primary" routerLink="/admin/new">
    ➕ إضافة ادمن جديد
  </a>
</div>
  <h2 class="text-center mb-4">قائمة الأدمن</h2>

  <table class="table table-striped table-bordered table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th>الاسم</th>
        <th>الإيميل</th>
        <th>الهاتف</th>
        <th>الدور</th>
        <th>التحكم</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{ admin.name }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.phone || '-' }}</td>
        <td>{{ admin.role }}</td>
        <td>
          <button class="btn btn-info btn-sm me-2" (click)="goToDetails(admin.slug!)">
            <i class="bi bi-eye"></i> تفاصيل
          </button>
          <button class="btn btn-warning btn-sm me-2" (click)="goToEdit(admin.slug!)">
            <i class="bi bi-pencil-square"></i> تعديل
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteAdmin(admin.slug!)">
            <i class="bi bi-trash"></i> حذف
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="totalPages >= 1" class="d-flex justify-content-center align-items-center gap-3 mt-4">
  <button mat-stroked-button color="primary" (click)="previousPage()" [disabled]="currentPage === 1">
    ⬅️ السابق
  </button>
  <span class="fw-bold">
    الصفحة {{ currentPage }} من {{ totalPages }}
  </span>
  <button mat-stroked-button color="primary" (click)="nextPage()" [disabled]="currentPage === totalPages">
    التالي ➡️
  </button>
</div>
