<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <mat-card class="p-4 w-100" style="max-width: 400px;">
    <div class="logo-container text-center mb-3">
      <img src="../../../../../public/ستورى_انستجرام_متحرك_كلاسيك_باللون_البينك_وخلفية_ورود_دعوة_زفاف_-removebg-preview.png" 
           alt="شعار التطبيق" class="img-fluid" style="max-height: 100px;" />
    </div>
    <h3 class="text-center mb-4">تسجيل الدخول</h3>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>البريد الإلكتروني</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>كلمة المرور</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" class="w-100">دخول</button>
      <div class="text-danger mt-2" *ngIf="errorMsg">{{ errorMsg }}</div>
    </form>
  </mat-card>
</div>
