.login-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

img {
    width: 20%;
    margin-left: 38%;
    margin-bottom: 6%;
    padding: 0;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-check-input {
    width: auto !important;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.logo-img {
  width: 100px;
  height: auto;
  margin: 14px;
 
}

@media (max-width: 600px) {
    .login-container {
        width: 100%;
        padding: 10px;
    }
     .logo-img {
    width: 80px;
  }
}