<div class="container mt-4">
  <div class="card shadow rounded p-4">
    <h4 class="mb-4"><i class="fas fa-plus-circle text-primary"></i> إضافة تصنيف فرعي جديد</h4>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="name" class="form-label">اسم التصنيف الفرعي</label>
        <input type="text" class="form-control" id="name" formControlName="name" required />
      </div>

   <mat-form-field class="w-100" appearance="outline">
  <mat-label>اختر القسم الرئيسي</mat-label>
  <mat-select formControlName="category_slug" required>
<mat-option *ngFor="let cat of categories" [value]="cat.slug">
  {{ cat.name }}
</mat-option>


  </mat-select>
</mat-form-field>


      <div class="mb-3">
        <label class="form-label">اختر صورة:</label>
        <input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" />
      </div>

      <button class="btn btn-success">
        <i class="fas fa-upload me-2"></i> إضافة
      </button>
    </form>
  </div>
</div>
