<div class="container p-4">
  <h2 class="text-xl font-bold mb-4">➕ إنشاء قسم جديد</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>اسم القسم</mat-label>
      <input matInput formControlName="name" placeholder="مثال: ملابس رجالي" />
    </mat-form-field>
    <div class="mb-3">
      <label class="form-label">صورة القسم</label>
      <input type="file" (change)="onImageChange($event)" class="form-control" />
      <img *ngIf="imagePreview" [src]="imagePreview" alt="preview" class="mt-2" width="120" />
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading" >
      {{ loading ? 'تم الانشاء' : 'إنشاء القسم' }}
    </button>
   <small class="text-gray-500">الحد الأقصى لحجم الصورة: 2 ميجا</small>

  </form>
</div>
