<!-- dashboard.component.html -->
<app-navbar-admin></app-navbar-admin>
<div class="container-fluid mt-4">
    
    <h2 class="mb-4">لوحة التحكم</h2>

    <!-- Card Section -->
    <div class="row">
        <!-- Number of Sellers -->
        <div class="col-xl-2 col-md-5">
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body text-center">
                    <i class="fas fa-user-tie fa-3x text-primary mb-3"></i>
                    <h5 class="card-title">عدد البائعين</h5>
                    <p class="card-text" style="font-size: 24px;">{{ sellersCount }} بائع</p>
                </div>
            </div>
            <br>
        </div>


            
<!-- app.component.html -->
 
<!-- مكون الـ Pagination -->

<app-pagination 
  [totalPages]="pagination.totalPages" 
  [currentPage]="pagination.currentPage" 
  (pageChanged)="loadSellers($event)">
</app-pagination>
  <app-seller-sidebar></app-seller-sidebar>