<div class="m-3 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Product Form</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="custom-form">
                        <!-- Category Field -->
                        <div class="form-group mb-4">
                            <label for="category" class="form-label">Category:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-list"></i></span>
                                <select id="category" formControlName="category" class="form-select" (change)="onCategoryChange($event)">
                                <option value="">Select Category</option>
                                <option value="females">Females</option>
                                <option value="males">Males</option>
                                <option value="kids">Kids</option>
                                <option value="models">Models</option>
                            </select>
                            </div>
                        </div>

                        <!-- Subcategory for Females -->
                        <div>
                            @if (selectedCategory === 'females') {
                            <div class="form-group mb-4">
                                <label for="subcategory" class="form-label">Subcategory:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    <select id="subcategory" formControlName="subcategory" class="form-select" (change)="onSubcategoryChange($event)">
                                    <option value="">Select Subcategory</option>
                                    <option value="makeup"> MakeUp</option>

                                    <option value="clothes">Clothes</option>
                                </select>
                                </div>
                            </div>
                            }
                        </div>

                        <!-- Dynamic Fields for Females Subcategories -->
                        <div>
                            @if (selectedSubcategory === 'clothes') {
                            <div class="form-group mb-4">
                                <label for="name" class="form-label">Product Name:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-tag"></i></span>
                                    <input id="name" formControlName="name" type="text" class="form-control" placeholder="Enter product name" />
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="form-group mb-4">
                                <label for="description" class="form-label">Description:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-pencil-alt"></i></span>
                                    <textarea id="description" formControlName="description" class="form-control" placeholder="Enter product description" rows="3"></textarea>
                                </div>
                            </div>


                            <!-- Product Image -->
                            <div class="form-group mb-4">
                                <label for="image" class="form-label">Image URL:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-image"></i></span>
                                    <input id="image" formControlName="image" type="text" class="form-control" placeholder="Enter image URL" />
                                </div>

                            </div>

                            <!-- Price -->
                            <div class="form-group mb-4">
                                <label for="price" class="form-label">Price:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-dollar-sign"></i></span>
                                    <input id="price" formControlName="price" type="number" class="form-control" placeholder="Enter product price" />
                                </div>
                            </div>

                            <!-- Discount Price -->
                            <div class="form-group mb-4">
                                <label for="discountPrice" class="form-label">Discount Price:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                    <input id="discountPrice" formControlName="discountPrice" type="number" class="form-control" placeholder="Enter discount price" />
                                </div>
                            </div>
                            <!-- Store Name -->
                            <div class="form-group mb-4">
                                <label for="storeName" class="form-label">Store Name:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-store"></i></span>
                                    <input id="storeName" formControlName="storeName" type="text" class="form-control" placeholder="Enter store name" />
                                </div>
                            </div>
                            <!-- Store   address-->
                            <div class="form-group mb-4">
                                <label for="storeAddress" class="form-label">Store Address :</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-store-alt"></i></span>
                                    <input id="storeAddress" formControlName="storeAddress" type="text" class="form-control" placeholder="Enter store name" />
                                </div>
                            </div>


                            <!-- id -->
                            <div class="form-group mb-4">
                                <label for="id" class="form-label">id:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                    <input id="id" formControlName="id" type="number" class="form-control" placeholder="Enter product price" />
                                </div>
                            </div>



                            <!-- color -->
                            <div class="form-group mb-4">
                                <label for="color" class="form-label">Color:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-creative-commons"></i></span>
                                    <input id="color" formControlName="color" type="text" class="form-control" placeholder="Enter color" />
                                </div>
                            </div>
                            <!-- size -->
                            <div class="form-group mb-4">
                                <label for="size" class="form-label">Size:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-creative-commons"></i></span>
                                    <input id="size" formControlName="size" type="text" class="form-control" placeholder="Enter size" />
                                </div>
                            </div>
                            <!-- quantity -->
                            <div class="form-group mb-4">
                                <label for="quantity" class="form-label">Quantity:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-creative-commons"></i></span>
                                    <input id="quantity" formControlName="quantity" type="number" class="form-control" placeholder="Enter quantity" />
                                </div>
                            </div>
                            <!-- <div class="form-group mb-4">
                                <label for="img" class="form-label">img:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-creative-commons"></i></span>
                                    <input type="file" formControlName="img" id="img" class="form-control"> </div>
                            </div> -->
                            <!-- Multiple Product Images -->
                            <!-- <div class="form-group mb-4">
                                <label for="img" class="form-label">Product Images:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-images"></i></span>
                                    <input type="file" formControlName="img" id="img" class="form-control" (change)="onFilesSelected($event)" multiple />
                                </div>
                                عرض الصور بعد رفعها
                            @if (imagePreview.length > 0) {
                            <div>
                                <h5>Image Previews:</h5>
                                <div class="row">
                                    @for (image of imagePreview; track $index) {}
                                    <div class="col-4">
                                        <img [src]="image" alt="Product Image " class="img-thumbnail " width="100 " height="100 " />
                                    </div>
                                </div>
                            </div>}
                          </div> -->


                            }

                        </div>


                        <!-- Dynamic Fields for Females Subcategories -->
                        <div>
                            @if (selectedSubcategory === 'makeup') {
                            <div class="form-group mb-4">
                                <label for="name" class="form-label">Product Name:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-tag"></i></span>
                                    <input id="name" formControlName="name" type="text" class="form-control" placeholder="Enter product name" />
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="form-group mb-4">
                                <label for="description" class="form-label">Description:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-pencil-alt"></i></span>
                                    <textarea id="description" formControlName="description" class="form-control" placeholder="Enter product description" rows="3"></textarea>
                                </div>
                            </div>


                            <!-- Product Image -->
                            <div class="form-group mb-4">
                                <label for="image" class="form-label">Image URL:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-image"></i></span>
                                    <!-- <input id="image" formControlName="image" type="text" class="form-control" placeholder="Enter image URL" /> -->
                                    <input type="file" (change)="onFileSelected($event)" id="image" formControlName="image" class="form-control" /> @if (imagePreview) {
                                    <div>
                                        <h2>Preview</h2>
                                        <img [src]="imagePreview" alt="Preview" />
                                    </div>}
                                </div>

                            </div>

                            <!-- Price -->
                            <div class="form-group mb-4">
                                <label for="price" class="form-label">Price:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-dollar-sign"></i></span>
                                    <input id="price" formControlName="price" type="number" class="form-control" placeholder="Enter product price" />
                                </div>
                            </div>

                            <!-- Discount Price -->
                            <div class="form-group mb-4">
                                <label for="discountPrice" class="form-label">Discount Price:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                    <input id="discountPrice" formControlName="discountPrice" type="number" class="form-control" placeholder="Enter discount price" />
                                </div>
                            </div>
                            <!-- Store Name -->
                            <div class="form-group mb-4">
                                <label for="storeName" class="form-label">Store Name:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-store"></i></span>
                                    <input id="storeName" formControlName="storeName" type="text" class="form-control" placeholder="Enter store name" />
                                </div>
                            </div>
                            <!-- Store   address-->
                            <div class="form-group mb-4">
                                <label for="storeAddress" class="form-label">Store Address :</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-store-alt"></i></span>
                                    <input id="storeAddress" formControlName="storeAddress" type="text" class="form-control" placeholder="Enter store name" />
                                </div>
                            </div>


                            <!-- id -->
                            <div class="form-group mb-4">
                                <label for="id" class="form-label">id:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                    <input id="id" formControlName="id" type="number" class="form-control" placeholder="Enter product price" />
                                </div>
                            </div>

                            <!-- quantity -->
                            <div class="form-group mb-4">
                                <label for="quantity" class="form-label">Quantity:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-creative-commons"></i></span>
                                    <input id="quantity" formControlName="quantity" type="number" class="form-control" placeholder="Enter quantity" />
                                </div>
                            </div>
                            }
                        </div>




                        <!-- Dynamic Fields for Males Subcategory -->
                        <div>
                            @if (selectedCategory === 'males') {
                            <div class="form-group mb-4">
                                <label for="subcategory" class="form-label">Subcategory:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    <select id="subcategory" formControlName="subcategory" class="form-select" (change)="onSubcategoryChange($event)">
                                    <option value="">Select Subcategory</option>

                                    <option value="clothes">Clothes</option>
                                </select>
                                </div>
                            </div>
                            }
                        </div>


                        <!-- Subcategory for kids -->
                        <div>
                            @if (selectedCategory === 'kids') {
                            <div class="form-group mb-4">
                                <label for="subcategory" class="form-label">Subcategory:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    <select id="subcategory" formControlName="subcategory" class="form-select" (change)="onSubcategoryChange($event)">
                                    <option value="">Select Subcategory</option>

                                    <option value="clothes">Clothes</option>
                                </select>
                                </div>
                            </div>
                            }
                        </div>

                        <!-- Dynamic Fields for model Subcategory -->
                        <div>
                            @if (selectedCategory === 'models') {
                            <div class="form-group mb-4">
                                <label for="subcategory" class="form-label">Subcategory:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    <select id="subcategory" formControlName="subcategory" class="form-select" (change)="onSubcategoryChange($event)">
                                    <option value="">Select Subcategory</option>

                                    <option value="clothes">Clothes</option>
                                </select>
                                </div>
                            </div>
                            }
                        </div>

                        <!-- Submit Button -->
                        <button type="submit " class="btn btn-primary w-100 " (click)="onSubmit()"><i class="fas fa-paper-plane "></i> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>